<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

	<context:component-scan base-package="apim.github.tutorial" />

	<int:channel id="inputChannel" />
	
	<int:channel id="outputChannel">
		<int:queue capacity="5" />
	</int:channel>

	<int:transformer input-channel="inputChannel" output-channel="outputChannel" ref="dataTranslator" />
	
	<int:filter input-channel="inputChannel" output-channel="outputChannel" ref="dataFilter" />

	<int:channel id="alternateChannel">
		<int:queue capacity="5" />
	</int:channel>
	
	<int:router input-channel="inputChannel" ref="customRouter" />
	
	<int:splitter input-channel="inputChannel" output-channel="outputChannel" ref="customSplitter" />

	<int:channel id="aggregatorInputChannel" />
	
	<int:channel id="aggregatorOutputChannel">
		<int:queue capacity="5" />
	</int:channel>
	
	<int:splitter input-channel="inputChannel" output-channel="aggregatorInputChannel" ref="customSplitter" />
	
	<int:aggregator input-channel="aggregatorInputChannel" output-channel="aggregatorOutputChannel" ref="customAggregator" />

</beans>